language: generic 
sudo: required
services:
    - docker 

# Build testing container
before_install:
  - docker build -t ankesh/docker-react -f Dockerfile.dev .

# Run Tests
script:
    - docker run -e CI=true ankesh/docker-react npm test -- --coverage

deploy: 
    provider: elasticbeanstalk 
    region: "ap-south-1"
    app: "docker-example-app"
    env: "Dockerexampleapp-env" 
    bucket_name: "elasticbeanstalk-ap-south-1-024995093762"
    bucket_path: "docker-react"
    on:
      branch: main
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY